/*Fonts*/
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src:
         url("../fonts/roboto-v27-latin-500.woff2") format("woff2"),
         url("../fonts/roboto-v27-latin-500.woff") format("woff"); 
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src:
         url("../fonts/roboto-v27-latin-700.woff2") format("woff2"),
         url("../fonts/roboto-v27-latin-700.woff") format("woff"); 
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src:
         url("../fonts/roboto-v27-latin-900.woff2") format("woff2"),
         url("../fonts/roboto-v27-latin-900.woff") format("woff"); 
  }

/*CUSTOM PROPERTIES*/
:root{
    --text-color: #7d7d7d;
    --link-color: #717cff;


    /*Site Fonts*/
}

/*WEB FONTS RELATED*/


/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
}

.container{
    max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
}

.text{
    color: #7d7d7d;
    font-size: 22px;
    line-height: 1.7;
}

h1,h2,h3,p{
    margin: 0;
}

/*Site-header tugadi*/

.site-header{
    padding-top: 41px;
}

.site-container{
    display: flex;
    align-items: center;
}

.logo{
    margin-right: auto;
}

.logo-img{
    display: block;
}

.navbar__list{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 72px;
    margin-left: 20px;
    padding: 0;
}

.navbar__item{
    margin-bottom: -10px;
}

.navbar__item:not(:last-child){
    margin-right: 73px;
}

.navbar__link, .apply-link{
    text-decoration: none;
    font-size: 17px;
}

.navbar__link{
    color: #373737;
    text-transform: capitalize;
    white-space: nowrap;
}

.navbar__link::after {
    margin-top: 10px;
    content: "";
    width: 0;
    display: block;
    height: 2px;
    background-color: var(--link-color);
    transition: width .3s;
}

.navbar__link:hover::after {
    width: 100%;
    transition: width .3s;
}

.apply-link{
    color: #505050;
    padding: 11px 35px;
    border: 2px solid #717cff;
    border-radius: 11px;
}

/*Site-header tugadi*/

/*Hero boshandi*/

.hero{
    padding-top: 140px;
    padding-bottom: 59px;
    background-image: url("../images/student-woman.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 550px) 80px;
}


.hero__title{
    max-width: 500px;
    margin-bottom: 15px;
    font-size: 56px;
    line-height: 1.2;
    font-weight: 900;
}

.hero__title span{
    color: var(--link-color);
}

.hero__text{
    max-width: 632px;
    margin-bottom: 42px;
}

.hero__apply{
    padding: 12px 23px 12px 34px;
    background-color: var(--link-color);
    text-decoration: none;
    font-size: 22px;
    line-height: 1.8;
    color: #fff;
    border-radius: 11px;
    white-space: nowrap;
}

.hero__apply::after{
    content: "";
    display: inline-block;
    margin-left: 34px;
    width: 22px;
    height: 20px;
    background-image: url(../images/arrow-right.svg);
    background-position: center 2px;
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-list{
    margin-top: 100px;
    display: flex;
    list-style-type: none;
}

.hero__item:not(:last-child){
    margin-right: 27px;
}

/*Hero tugadi*/

/*Universities boshlandi*/

.universities{
    background-color: #fafafa;
    padding: 57px 0;
}

.universities__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.universities__title{
    font-size: 22px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 86px;
}

.universities__list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 100px;
}

.universities__icon:not(:last-child){
    margin-right: 74px;
}

.universities__icon .universities__link img{
    display: block;
}

.dots {
	display: flex;
	justify-content: center;
    align-items: center;
}

.dots-item {
	display: block;
	margin-left: 30px;
    padding: 5px;
	border-radius: 50%;
	background-color: grey;
}

.dots-item:hover {
	background-color: blue;
	transform: scale(1.5);
}

.dots-item-active {
	padding: 7.5px;
	background-color: blue;
	border-radius: 50%;
}

/*Universities tugadi*/

/*Services boshlandi*/

.services{
    padding-top: 122px;
    padding-bottom: 76px;
}

.services__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__title{
    font-size: 37px;
    font-weight: 700;
    line-height: 1.5px;
    letter-spacing: -0.5px;
    text-align: center;
    margin-bottom: 25px;
}

.services__text{
    width: 950px;
    font-size: 22px;
    text-align: center;
    line-height: 1.7;
    margin-bottom: 110px;
}

.services__list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.services__item{
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 29px 17px 34px 31px;
    margin-bottom: 50px;
}

.services__item:not(:nth-of-type(3n)){
    margin-right: 47px;
}

.title-item{
    font-size: 24px;
    margin-bottom: 9px;
    color: #37474f;
}

.title-item::before{
    content: "";
    display: block;
    margin-bottom: 30px;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.services__item:nth-of-type(1) .title-item::before{
    background-image: url("../images/radar.svg");
    background-color: var(--link-color);
}

.services__item:nth-of-type(2) .title-item::before{
    background-image: url("../images/bookmark.svg");
    background-color:#ff5959;
}

.services__item:nth-of-type(3) .title-item::before{
    background-image: url("../images/file-checked.svg");
    background-color: #70ce88;
}

.services__item:nth-of-type(4) .title-item::before{
    background-image: url("../images/home.svg");
    background-color: #5c96ff;
}

.services__item:nth-of-type(5) .title-item::before{
    background-image: url("../images/airplane.svg");
    background-color: #fa706c;
}

.text-item{
    width: 296px;
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 26px;
    letter-spacing: 0.4px;
    color: rgba(55, 71, 79, 0.7);
}

.link-item{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: var(--link-color);
    font-size: 17px;
    letter-spacing: 0.4px;
}

.link-item::after{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../images/arrow-right.svg");
    background-position: center 2px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
}

/*Services tugadi*/