/*Fonts*/
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src:
         url("../fonts/roboto-v27-latin-500.woff2") format("woff2"),
         url("../fonts/roboto-v27-latin-500.woff") format("woff"); 
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src:
         url("../fonts/roboto-v27-latin-700.woff2") format("woff2"),
         url("../fonts/roboto-v27-latin-700.woff") format("woff"); 
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src:
         url("../fonts/roboto-v27-latin-900.woff2") format("woff2"),
         url("../fonts/roboto-v27-latin-900.woff") format("woff"); 
  }

/*CUSTOM PROPERTIES*/
:root{
    --text-color: #7d7d7d;
    --link-color: #717cff;


    /*Site Fonts*/
}

/*WEB FONTS RELATED*/


/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
}

.container{
    max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
}

.text{
    color: #7d7d7d;
    font-size: 22px;
    line-height: 1.7;
}

/*Site-header tugadi*/

.site-header{
    padding-top: 41px;
}

.site-container{
    display: flex;
    align-items: center;
}

.logo{
    margin-right: auto;
}

.logo-img{
    display: block;
}

.navbar__list{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 72px;
    margin-left: 20px;
    padding: 0;
}

.navbar__item{
    margin-bottom: -10px;
}

.navbar__item:not(:last-child){
    margin-right: 73px;
}

.navbar__link, .apply-link{
    text-decoration: none;
    font-size: 17px;
}

.navbar__link{
    color: #373737;
    text-transform: capitalize;
    white-space: nowrap;
}

.navbar__link::after {
    margin-top: 10px;
    content: "";
    width: 0;
    display: block;
    height: 2px;
    background-color: var(--link-color);
    transition: width .3s;
}

.navbar__link:hover::after {
    width: 100%;
    transition: width .3s;
}

.apply-link{
    color: #505050;
    padding: 11px 35px;
    border: 2px solid #717cff;
    border-radius: 11px;
}

/*Site-header tugadi*/

/*Hero boshandi*/

.hero{
    padding-top: 140px;
    padding-bottom: 59px;
    background-image: url("../images/student-woman.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 550px) 80px;
}


.hero__title{
    max-width: 500px;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 56px;
    line-height: 1.2;
    font-weight: 900;
}

.hero__title span{
    color: var(--link-color);
}

.hero__text{
    max-width: 632px;
    margin-top: 0;
    margin-bottom: 42px;
}

.hero__apply{
    padding: 12px 23px 12px 34px;
    background-color: var(--link-color);
    text-decoration: none;
    font-size: 22px;
    line-height: 1.8;
    color: #fff;
    border-radius: 11px;
}

.hero__apply::after{
    content: "";
    display: inline-block;
    margin-left: 34px;
    width: 18px;
    height: 16px;
    background-image: url(../images/arrow-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-list{
    margin-top: 100px;
    display: flex;
    list-style-type: none;
}

.hero__item:not(:last-child){
    margin-right: 27px;
}

/*Hero tugadi*/

/*Universities boshlandi*/

.universities{
    background-color: #fafafa;
    padding: 57px 0;
}

.universities__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.universities__title{
    font-size: 22px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 0;
    margin-bottom: 86px;
}

.universities__list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 100px;
}

.universities__icon:not(:last-child){
    margin-right: 74px;
}

.universities__icon .universities__link img{
    display: block;
}

